.container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  width: 80px;
  height: 45px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  width: 90px;
  cursor: pointer;
  position: relative;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  position: absolute;
  color: white;
  border-radius: 20px;
  width: 100px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  z-index: 999;
}

.displayNone {
  display: none;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: .2s ease all;
}

.optionContainer {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.optionContainer:hover{
  background: rgba(255, 255, 255, 0.4);
}

.optionContainer:last-child {
  border-radius: 0 0 20px 20px;
}

.optionContainer:first-child {
  border-radius: 20px 20px 0 0;
}

.img {
  width: 35px;
}


