.form {
  background: rgba(255, 255, 255, .1);
  padding: 1rem 2.5rem;
  border-radius: 15px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  color: white;
  text-align: center;
}