@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.container {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  width: auto;
}
.logo {
  height: 50px;
  width: auto;
}

.creator {
  position: absolute;
  color: white;
  margin-top: 75px;
  font-size: 14px;
  font-family:'Montserrat', sans-serif;
  font-weight: 100;
}