.cardsGalery{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem ;
}

