.container {
  height: 60px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group {
  display: flex;
  align-items: center;
  gap: 1rem;
}