.container {
  height: 60px;
  max-width: 1200px;
  margin-top: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolBar {
  display: flex;
  align-items: center;
  gap: 1rem;
}