.modalBtnClose {
  position: absolute;
  z-index: 99;
  width: 25px;
  height: 25px;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 35%;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0, 0.3);
  top: 8px;
  right: 8px;
  color: white;
  text-align: center;
  padding: 4px;
  font-weight: bold;
  cursor: pointer;
}

.modalBtnClose:hover {
  background-color: rgba(0, 0, 0, .9);
}
