* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

body {
  color : white;
  margin: 0 auto;
  max-width: 1200px;
}

.error_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
}

.error_container h1 {
    font-size: 8rem;
}

.error_container h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.layout-container {
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  height: 100vh
}

.flex-grow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.flex-start{
  justify-content: start;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background: rgba(0, 0, 0, 0.9);
  z-index: 800;
}
.modal-cursosr{
    cursor: progress
}

.cursor-default {
  cursor: default;
}

.cursor-pointer:hover{
  cursor: pointer;
}

/* Transition */
.fade-enter {
  opacity: 0;
}

.fade-exit {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 700ms;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.margin-center{
  margin: 0 auto;
}

.text-center{
  text-align: center;
}

.w-600{
  width: 600px;
}

gap-1{
  gap:1rem;
}
gap-2 {
  gap: 2rem;
}

.w-100{
  width: 100%;
}

.my-1{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mz-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

