* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  color : white;
}

.error_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error_container h1 {
    font-size: 8rem;
}

.error_container h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}